.detail-wrap {
  width: 100%;
  .detail-body {
    width: 1040px;
    margin: 0 auto;
    overflow: hidden;
    .detail-info {
      width: 100%;
      display: flex;
      .detail-info-image {
        width: 130px;
        height: 200px;
        margin-right: 12px;
        img {
          width: 100%;
        }
      }
      .detail-info-logs {
        flex: 1;
        .log {
          .log-key {
            color: #666666;
          }
          // 骚css技巧
          .log-value {
            &:empty::before {
              content: "无";
            }
          }
        }
      }
      .detail-info-score {
        width: 171px;
        height: 87px;
        padding-left: 15px;
        border-left: 1px solid #eaeaea;
        .addtocart {
          margin-top: 15px;
        }
      }
    }
    .detail-desc {
      p {
        text-indent: 2em;
        word-break: normal;
      }
    }
    .detail-shortComm {
      margin-bottom: 300px;
    }
    .title {
      font-size: 26px;
    }
    .aside-flex-books {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .aside-book-wrap {
        width: 46%;
        height: 200px;
        margin-bottom: 30px;
      }
    }
  }
}